# New Section

In [ ]:
#Import the libraries
import pandas
import numpy
from collections import OrderedDict
from tabulate import tabulate, tabulate_formats

In [ ]:
data = pandas.read_csv('CodebookGap.csv', low_memory=False, 
            skip_blank_lines=True, usecols=['country','incomeperperson', 'alcconsumption', 'lifeexpectancy'])

In [ ]:
data.columns=['country', 'income', 'alcohol', 'life']
'''
# Variables Descriptions
alcohol = "2008 alcohol consumption per adult (liters, age 15+)"
income = "2010 Gross Domestic Product per capita in constant 2000 US$"
life = "2011 life expectancy at birth (years)"'''
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  213 non-null    object
 1   income   213 non-null    object
 2   alcohol  213 non-null    object
 3   life     213 non-null    object
dtypes: object(4)
memory usage: 6.8+ KB

In [ ]:
for dt in ('income','alcohol','life') :
    data[dt] = pandas.to_numeric(data[dt], errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  213 non-null    object
 1   income   190 non-null    float64
 2   alcohol  187 non-null    float64
 3   life     191 non-null    float64
dtypes: float64(3), object(1)
memory usage: 6.8+ KB

In [ ]:
nullLabels =data[data.country.isnull() | data.income.isnull() | data.alcohol.isnull() | data.life.isnull()]
print(nullLabels)

                   country         income  alcohol    life
0              Afghanistan            NaN     0.03  48.673
3                  Andorra   21943.339898    10.17     NaN
5      Antigua and Barbuda   11894.464075     8.17     NaN
8                    Aruba            NaN      NaN  75.246
20                 Bermuda   62682.147006      NaN     NaN
34          Cayman Islands            NaN      NaN     NaN
43            Cook Islands            NaN     3.23     NaN
52                Dominica    6147.779610     8.68     NaN
61          Faeroe Islands            NaN      NaN     NaN
65        French Polynesia            NaN      NaN  75.133
71               Gibraltar            NaN      NaN     NaN
73               Greenland   20751.893424      NaN     NaN
75              Guadeloupe            NaN      NaN  79.839
76                    Guam            NaN      NaN  76.142
83        Hong Kong, China   35536.072471      NaN  82.759
98                Kiribati     760.262365     2.70     NaN
99        Korea, Dem. Rep.            NaN      NaN  68.846
101                 Kuwait            NaN     0.10  74.576
109          Liechtenstein   81647.100031      NaN     NaN
112           Macao, China   33923.313868      NaN  80.934
117               Maldives    4038.857818      NaN  76.848
120       Marshall Islands    2437.282445      NaN     NaN
121             Martinique            NaN      NaN  80.499
127                 Monaco  105147.437697      NaN     NaN
129             Montenegro    2222.335052      NaN  74.573
132                Myanmar            NaN     0.58  65.193
134                  Nauru            NaN     4.81     NaN
137   Netherlands Antilles            NaN      NaN  76.652
138          New Caledonia            NaN      NaN  76.521
143                   Niue            NaN     8.69     NaN
147                  Palau    6243.571318     9.86     NaN
155            Puerto Rico   15822.112141      NaN  79.158
157                Reunion            NaN      NaN  77.653
161  Saint Kitts and Nevis    9175.796015    10.62     NaN
165             San Marino   31993.200694      NaN     NaN
166  Sao Tome and Principe            NaN     8.45  64.666
170  Serbia and Montenegro            NaN      NaN     NaN
171             Seychelles    8614.120219    12.11     NaN
177                Somalia            NaN     0.50  51.219
187                 Taiwan            NaN      NaN     NaN
198                 Tuvalu    1714.942890     2.14     NaN
209     West Bank and Gaza            NaN      NaN  72.832

In [ ]:
data = data.dropna(axis=0, how='any')
print (data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 1 to 212
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  171 non-null    object
 1   income   171 non-null    float64
 2   alcohol  171 non-null    float64
 3   life     171 non-null    float64
dtypes: float64(3), object(1)
memory usage: 6.7+ KB
None

In [ ]:
c2 = data['income'].value_counts(sort=False)
p2 = data['income'].value_counts(sort=False, normalize=True)

c3 = data['alcohol'].value_counts(sort=False)
p3 = data['alcohol'].value_counts(sort=False, normalize=True)

c4 = data['life'].value_counts(sort=False)
p4 = data['life'].value_counts(sort=False, normalize=True)

In [ ]:
print("****************************************************")
print("*************Absolute Frequency********************") 
print("Income Per Person:")
print("Income         Freq")
print(c2)
print("Alcohol Consumption:")
print("Alcohol  Freq")
print(c3)
print("Life Expecectancy:")
print("Life      Freq")
print(c4)

print("****************************************************")
print("*************Relative Frequency********************") 
print("Income Per Person:")
print("Income          Freq")
print(p2)
print("Alcohol Consumption:")
print("Alcohol  Freq")
print(p3)
print("Life Expecectancy:")
print("Life      Freq")
print(p4)

****************************************************
*************Absolute Frequency********************
Income Per Person:
Income         Freq
5188.900935     1
39972.352768    1
279.180453      1
161.317137      1
11744.834167    1
               ..
377.421113      1
2344.896916     1
25306.187193    1
4180.765821     1
25575.352623    1
Name: income, Length: 171, dtype: int64
Alcohol Consumption:
Alcohol  Freq
15.00    1
5.25     1
3.99     1
9.75     1
9.50     1
        ..
16.30    1
4.96     1
0.32     1
9.48     1
14.94    1
Name: alcohol, Length: 165, dtype: int64
Life Expecectancy:
Life      Freq
63.125    1
79.591    1
68.795    1
74.414    1
79.977    1
         ..
57.937    1
73.126    1
75.956    1
57.379    1
50.239    1
Name: life, Length: 169, dtype: int64
****************************************************
*************Relative Frequency********************
Income Per Person:
Income          Freq
5188.900935     0.005848
39972.352768    0.005848
279.180453      0.005848
161.317137      0.005848
11744.834167    0.005848
                  ...
377.421113      0.005848
2344.896916     0.005848
25306.187193    0.005848
4180.765821     0.005848
25575.352623    0.005848
Name: income, Length: 171, dtype: float64
Alcohol Consumption:
Alcohol  Freq
15.00    0.005848
5.25     0.005848
3.99     0.005848
9.75     0.005848
9.50     0.005848
           ...
16.30    0.005848
4.96     0.005848
0.32     0.005848
9.48     0.005848
14.94    0.005848
Name: alcohol, Length: 165, dtype: float64
Life Expecectancy:
Life      Freq
63.125    0.005848
79.591    0.005848
68.795    0.005848
74.414    0.005848
79.977    0.005848
            ...
57.937    0.005848
73.126    0.005848
75.956    0.005848
57.379    0.005848
50.239    0.005848
Name: life, Length: 169, dtype: float64

In [ ]:
minMax = OrderedDict()
dict1 = OrderedDict()

dict1['min'] = data.life.min()
dict1['max'] = data.life.max()
minMax['life'] = dict1

dict2 = OrderedDict()
dict2['min'] = data.income.min()
dict2['max'] = data.income.max()
minMax['income'] = dict2

dict3 = OrderedDict()
dict3['min'] = data.alcohol.min()
dict3['max'] = data.alcohol.max()
minMax['alcohol'] = dict3

df = pandas.DataFrame([minMax['income'],minMax['life'],minMax['alcohol']], index = ['Income','Life','Alcohol'])
print (df.sort_index(axis=1, ascending=False))

dummyData = data.copy()
 # Maps
income_map = {1: '>=100  <5k', 2: '>=5k <10k', 3: '>=10k <20k',
               4: '>=20K <30K', 5: '>=30K <40K', 6: '>=40K <50K' }
life_map = {1: '>=40 <50', 2: '>=50 <60', 3: '>=60 <70', 4: '>=70 <80', 5: '>=80 <90'}
alcohol_map = {1: '>=0.5 <5', 2: '>=5 <10', 3: '>=10 <15', 4: '>=15 <20', 5: '>=20 <25'}

dummyData['income'] = pandas.cut(data.income,[100,5000,10000,20000,30000,40000,50000], labels=['1','2','3','4','5','6'])
print(dummyData.head(10))

dummyData['life'] = pandas.cut(data.life,[40,50,60,70,80,90], labels=['1','2','3','4','5'])
print(dummyData.head(10))

dummyData['alcohol'] = pandas.cut(data.alcohol,[0.5,5,10,15,20,25], labels=['1','2','3','4','5'])
print (dummyData.head(10))

                min           max
Income   103.775857  52301.587179
Life      47.794000     83.394000
Alcohol    0.050000     23.010000
       country income  alcohol    life
1      Albania      1     7.29  76.918
2      Algeria      1     0.69  73.131
4       Angola      1     5.57  51.093
6    Argentina      3     9.35  75.901
7      Armenia      1    13.66  74.241
9    Australia      4    10.21  81.907
10     Austria      4    12.40  80.854
11  Azerbaijan      1    13.34  70.739
12     Bahamas      3     8.65  75.620
13     Bahrain      3     4.19  75.057
       country income  alcohol life
1      Albania      1     7.29    4
2      Algeria      1     0.69    4
4       Angola      1     5.57    2
6    Argentina      3     9.35    4
7      Armenia      1    13.66    4
9    Australia      4    10.21    5
10     Austria      4    12.40    5
11  Azerbaijan      1    13.34    4
12     Bahamas      3     8.65    4
13     Bahrain      3     4.19    4
       country income alcohol life
1      Albania      1       2    4
2      Algeria      1       1    4
4       Angola      1       2    2
6    Argentina      3       2    4
7      Armenia      1       3    4
9    Australia      4       3    5
10     Austria      4       3    5
11  Azerbaijan      1       3    4
12     Bahamas      3       2    4
13     Bahrain      3       1    4

In [ ]:
c2 = dummyData['income'].value_counts(sort=False)
p2 = dummyData['income'].value_counts(sort=False, normalize=True)

c3 = dummyData['alcohol'].value_counts(sort=False)
p3 = dummyData['alcohol'].value_counts(sort=False, normalize=True)

c4 = dummyData['life'].value_counts(sort=False)
p4 = dummyData['life'].value_counts(sort=False, normalize=True)

In [ ]:
print("****************************************************")
print("*************Absolute Frequency********************") 
print("Income Per Person:")
print("Income-Freq")
print(c2)
print("Alcohol Consumption:")
print("Alcohol-Freq")
print(c3)
print("Life Expecectancy:")
print("Life-Freq")
print(c4)

print("****************************************************")
print("*************Relative Frequency********************") 
print("Income Per Person:")
print("Income- Freq")
print(p2)
print("Alcohol Consumption:")
print("Alcohol-Freq")
print(p3)
print("Life Expecectancy:")
print("Life-Freq")
print(p4)

****************************************************
*************Absolute Frequency********************
Income Per Person:
Income-Freq
1    110
2     24
3     15
4     12
5      9
6      0
Name: income, dtype: int64
Alcohol Consumption:
Alcohol-Freq
1    63
2    56
3    31
4    10
5     1
Name: alcohol, dtype: int64
Life Expecectancy:
Life-Freq
1     8
2    28
3    35
4    80
5    20
Name: life, dtype: int64
****************************************************
*************Relative Frequency********************
Income Per Person:
Income- Freq
1    0.647059
2    0.141176
3    0.088235
4    0.070588
5    0.052941
6    0.000000
Name: income, dtype: float64
Alcohol Consumption:
Alcohol-Freq
1    0.391304
2    0.347826
3    0.192547
4    0.062112
5    0.006211
Name: alcohol, dtype: float64
Life Expecectancy:
Life-Freq
1    0.046784
2    0.163743
3    0.204678
4    0.467836
5    0.116959
Name: life, dtype: float64